{% extends "base.html" %}

{% block title %}Change password{% endblock %}


{% block content %}

    <div class="d-flex justify-content-center">
     <div class="mt-5 p-2 border col-md-6 col-sm-6 bg-light">
        <form action="" method="post" onsubmit="return validate(this)">
        <h2>Change password</h2>
        
        <h5>Changing password for : {{user.first_name}} {{user.last_name}}</h5>

        <!--FLASH MESSAGES-->
        {% include "messageflash.html" %}

         <div class="mb-3">
          <label for="password" class="form-label">Current Password</label>
          <input type="password" class="form-control" name="password" id="password"  minlength="8"  placeholder="" required>
        </div>

         <div class="mb-3">
          <label for="new_password" class="form-label">New Password</label>
          <input type="password" class="form-control" name="new_password" id="new_password" placeholder=""  minlength="8"  required>
        </div>

         <div class="mb-3">
          <label for="confirm" class="form-label">Confirm Password</label>
          <input type="password" class="form-control" name="confirm" id="confirm" placeholder=""  minlength="8"  required>
        </div>

        <button type="submit" class="btn btn-primary">Change</button>
    </form>
     </div>
    </div>

    <script>
        // valdiate before form submission
        function validate(){
            // get password and confirm password values
            var new_password = document.getElementById("new_password").value.trim();
            var confirm = document.getElementById("confirm").value.trim();


            //check password length
            if(new_password.length<8 || confirm.length<8){
                alert('Password must atleast be 8 characters in length !');
                return false
            }

            // if password not equal to confirm password
            // then prevent form submission
            if(new_password!==confirm){
                alert("Passwords donot match !");
                return false;
            }



        }
    </script>

  {% endblock content %}